@import "../../../../styles/constants.scss";

.submit-wrapper {
  position: relative;


  &.loading {
    opacity: 0.5;
    pointer-events: none;
    animation: disabledFade 0.4s;
  }

}

@media only screen and (max-width: $mobile-breakpoint) {
  .submit-wrapper {
    .total-vault-wrapper {
      font-size: $xxsmall;
    }
  }
}
