@import "../../../../../../styles/constants.scss";

.eligible-wrapper {
  color: $white;
  width: 900px;
  max-height: 1000px;
  height: calc(100vh - 200px);
  padding: $modal-element-padding;
  box-sizing: border-box;
  padding-top: 0;
  .eligible__header-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    .eligible__header-icon {
      width: 124px;
      align-self: center;
    }
    .eligible__header-title {
      font-size: $medium-2;
      font-weight: bold;
      margin: 20px 0;
    }
  }
  .eligible__stages-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    .eligible__stage-title-wrapper {
      display: flex;
      align-items: center;
      font-size: $medium;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
      .eligible__stage-number {
        background-color: $turquoise;
        color: $field-blue;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        font-weight: bold;
        margin-right: 10px;
        &.first {
          text-indent: 2px;
        }
        &.second {
          text-indent: 3px;
        }
      }
      .eligible__stage-title {
        &.eligible__stage-title-current {
          border-bottom: 3px solid $turquoise;
          font-weight: bold;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .eligible-wrapper {
    width: unset;
    height: unset;
    padding: $modal-element-padding-mobile;
    .eligible__header-wrapper {
      .eligible__header-title {
        font-size: $moderate;
      }
    }
    .eligible__stages-wrapper {
      .eligible__stage-title-wrapper {
        font-size: $xsmall;
        text-align: center;
      }
    }
  }
}
