@import "../constants.scss";

.modal-wrapper {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $transparent-black;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  animation: fadeIn .2s;
  .modal-content-wrapper {
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $blue;
    box-shadow: $black-shadow;
    overflow-x: scroll;
    position: relative;
    height: var(--modal-height);
    width: var(--modal-width);
    max-width: var(--modal-max-width);
    max-height: 600px;
    .modal-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $light-blue;
      padding: $element-padding 30px;
      font-size: $moderate;
      color: $white;
      position: sticky;
      top: 0;
      z-index: 1;
      .close {
        background-color: transparent;
        color: $white;
        padding: 0;
        margin: 0;
        font-size: $moderate;
      }
    }
    .modal-content {
      position: relative;
      height: 100%;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .modal-wrapper {
    .modal-content-wrapper {
      max-height: unset;
      max-width: unset;
      height: 100%;
      width: 100%;
    }
  }
}
