@import "../constants.scss";

.notification-wrapper {
  position: fixed;
  z-index: 6;
  top: 0px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  color: $black;
  padding: 10px;
  box-shadow: $black-shadow;
  width: 50%;
  box-sizing: border-box;
  &.SUCCESS {
    background-color: $turquoise;
  }
  &.ERROR{
    background-color: $strong-red;
  }
  &.INFO {
    background-color: $white;
  }
  .notification-text-wrapper {
    .type {
      font-weight: bold;
      margin-right: 10px;
      margin-left: auto;
    }
    .text {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .dismiss-btn {
    font-size: $medium;
    padding: 0;
    margin: 0;
    background-color: transparent;
    padding-left: 10px;
    margin-left: auto;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .notification-wrapper {
    width: 100%;
  }
}
