@import "styles/constants.scss";

.create-vault-modal-wrapper {
  padding: $modal-element-padding;
  display: flex;
  flex-direction: column;
  .create-vault {
    &__description {
      color: $white;
    }
    &__addenum {
      color: $dark-turquoise;
    }
  }
  .error-label {
    color: $red;
    margin-top: 10px;
  }
  button {
    margin-top: 50px;
  }
  input {
    max-width: 200px;
    background-color: $purple-blue;
    border: 1px solid $purple-blue;
    color: $white;
    height: 50px;
    padding: 0px 20px;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .create-vault-modal-wrapper {
    padding: $modal-element-padding-mobile;
    height: 100%;
    box-sizing: border-box;
    button {
      margin-top: auto;
    }
    input {
      max-width: unset;
    }
  }
}
