@import "styles/constants.scss";

.create-vault-modal-wrapper {
  padding: $modal-element-padding;
  display: flex;
  flex-direction: column;
  .create-vault {
    &__description {
      color: $white;
    }
    &__addenum {
      color: $dark-turquoise;
    }
  }
  button {
    margin: 0;
    margin-top: 50px;
  }
  input {
    height: 50px;
    min-height: 50px;
    padding-right: 20px;
  }
  .error-label {
    color: $red;
    margin: 5px 0px;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .create-vault-modal-wrapper {
    padding: $modal-element-padding-mobile;
    height: 100%;
    box-sizing: border-box;
    button {
      margin-top: auto;
    }
    input {
      max-width: unset;
    }
  }
}
