@import "../../../../styles/constants.scss";

.nft-airdrop-wrapper {
  display: flex;
  justify-content: center;
  .nft-airdrop-search {
    color: $white;
    margin-right: 80px;
    max-width: 500px;
    .deadline-label {
      color: $red;
      margin-bottom: 15px;
      font-weight: bold;
    }
    h2 {
      margin-top: 0;
    }
    .input-container {
      border: 1px solid $turquoise;
      margin: 40px 0px 5px 0px;
      display: flex;
      .address-input {
        border: none;
        background: none;
        color: $white;
        height: 50px;
        text-indent: 10px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .clear-input {
        border: none;
      }
    }

    .error-label {
      color: $red;
    }
    .info-label {
      margin-top: 30px;
    }
    .open-in-etherscan-wrapper {
      display: flex;
      align-items: center;
      margin-top: 10px;
      .open-in-icon {
        display: flex;
        margin-left: 10px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  &.disabled {
    opacity: 0.5 !important;
    pointer-events: none;
  }
  .no-ethereum-proiver-notice {
    text-align: center;
    margin: 0 20px;
  }
  .redeem-container {
    width: 300px;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .nft-airdrop-wrapper {
    flex-direction: column;
    .nft-airdrop-search {
      margin-right: unset;
      margin-bottom: 30px;
      padding: $modal-element-padding-mobile;
    }
    .redeem-container {
      width: 100%;
    }
  }
}
