@import "../../../styles/constants.scss";

.token-select-wrapper {
  .token-select {
    background-color: transparent;
    color: $white;
    border-color: $turquoise;
    padding: 15px;
  }
  .token-icon-wrapper {
    display: flex;
    align-items: center;
    .token-icon {
      border-radius: 100px;
      width: 30px;
      height: 30px;
      margin-right: 15px;
    }
  }
}
