@import "../../../styles/constants.scss";

.terms-and-process-wrapper {
  color: $white;
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;

    tr {
      th {
        text-align: left;
        padding: 20px;
        color: $dark-turquoise;
      }
      td {
        > span {
          color: $dark-turquoise;
          font-weight: bold;
        }
      }
      &.low {
        > td {
          background-color: $severity-low;
        }
      }
      &.medium {
        > td {
          background-color: $severity-medium;
        }
      }
      &.high {
        > td {
          background-color: $severity-high;
        }
      }
      &.critical {
        > td {
          background-color: $severity-critical;
        }
      }
      &.audit-request {
        > td {
          background-color: $severity-audit-request;
          color: $white;
        }
      }
      &.caught-the-flag {
        > td {
          background-color: $strong-purple;
        }
      }
    }

    .nft-wrapper {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
  .section-title {
    height: 40px;
    color: $blue;
    font-weight: bold;
    line-height: 40px;
    padding-left: 15px;
    margin-top: 30px;
    &.submission {
      background-color: $yellow;
    }
    &.fix {
      background-color: $red;
    }
    &.awards {
      background-color: $dirty-turquoise;
    }
  }
  .section-content {
    border: 1px solid;
    padding: 30px 80px;
    margin-bottom: 1rem;
    &.submission {
      border-color: $yellow;
    }
    &.fix {
      border-color: $red;
      .icon-text-wrapper {
        display: flex;
        align-items: center;
        margin: 30px 0;
        padding-left: 15px;
        img {
          margin-right: 10px;
        }
      }
    }
    &.awards {
      border-color: $dirty-turquoise;
    }
  }
  .warning-notice {
    border: 1px solid $red;
    padding: 30px 80px;
    margin: 30px 0;
  }
  .accept-terms-wrapper {
    display: flex;
    align-items: center;
    button {
      min-width: 150px;
    }
    .checkbox-container {
      input[type="checkbox"] {
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .terms-and-process-wrapper {
    tr,
    td {
      padding: 10px;
    }
    .section-content {
      padding: 10px;
    }
    .warning-notice {
      padding: 10px;
    }
    .accept-terms-wrapper {
      flex-direction: column;
      .checkbox-container {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}
