@import "../../../../styles/constants.scss";

.token-airdrop-wrapper {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  &__amount-container {
    border: 1px solid $turquoise;
    padding: 30px;
    color: $white;
    font-size: $large;
    font-family: RobotoMono;
    font-weight: bold;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .token-airdrop-wrapper {
    
  }
}
