@import "./constants.scss";

.safe-period {
  padding: 1px;
  border-bottom: 2px solid $dark-blue;

  .text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $mobile-breakpoint) {
      font-size: $xxsmall;
    }
  }

  &.on {
    background-color: $yellow;
    color: $dark-blue;
  }
}
