@import "styles/constants.scss";

.withdraw-countdown-wrapper {
  display: flex;
  color: $turquoise;
  margin-top: 10px;
  .time-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $light-blue;
    font-weight: bold;
    margin: 0 8px;
    padding: 6px;
    width: 50px;
    height: 55px;
    .value {
      font-size: $moderate;
    }
    .type {
      font-size: $tiny;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &.plain-text-view {
      margin: unset;
      padding: unset;
      background-color: unset;
      width: unset;
      height: unset;
      display: unset;
      .value {
        font-size: unset;
      }
    }
  }
}
