@import "../../../../../../styles/constants.scss";

.submit-review-wrapper {
  display: flex;
  flex-direction: column;
  .review-details-container {
    display: flex;
    flex-direction: column;
    .project-and-contact-container {
      display: flex;
      .project-name-item {
        margin-right: 50px;
      }
    }

    .description-container {
      .review-item {
        .item-value {
          height: 200px;
          overflow: scroll;
        }
      }
    }

    .review-item {
      display: flex;
      flex-direction: column;
      margin: 15px 0px;
      min-width: 300px;
      .item-title-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        font-weight: bold;
        img {
          cursor: pointer;
          &:hover {
            opacity: 0.9;
          }
        }
      }
      .item-value {
        border: 1px solid $light-blue;
        padding: 5px 20px;
      }
    }
  }
  button {
    min-width: 150px;
  }
  .error-label {
    color: $red;
    margin: 10px 0px;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .submit-review-wrapper {
    .review-details-container {
      .review-item {
        min-width: unset;
      }
      .project-and-contact-container {
        flex-direction: column;
        :first-child {
          margin-right: unset;
        }
      }
    }
  }
}
