@import "styles/constants.scss";

.decrypt-wrapper {
  width: 100%;
  margin-bottom: $spacing-4;

  &__textbox {
    &-container {
      margin-bottom: $spacing-3;
    }
    &-title {
      margin-bottom: $spacing-3;
    }
  }
}

.selected-key {
  display: flex;
  flex-direction: row;
  margin-bottom: $spacing-3;

  .box-with-copy {
    align-items: center;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    padding: 3px;
    flex: 1;
    border: 1px solid $turquoise;
    span {
      flex: 1;
    }
  }
}

// .keypair-list {
//     border: 1px solid $turquoise;
//     padding: 0px 1em;
//     img {
//         cursor:pointer;
//     }
//     li {
//         margin: 0.5em 0;
//         &:hover {
//             background-color: black;
//         }
//         .keypair-name {
//             min-width: 12em;
//         }

//         display: flex;
//         flex-direction: row;
//         min-width: 12em;
//         list-style-type:none;
//     }
// }
