@import "styles/constants.scss";

.decrypt-wrapper {
  width: 100%;
  margin-bottom: $spacing-4;

  &__title {
    color: $white;
    font-size: $large;
  }
  &__description {
    color: $white;
    font-size: $small;
    padding-bottom: 30px;
  }
  &__textbox {
    &-container {
      margin-bottom: $spacing-3;
      button {
        margin: 20px 0 0;
      }
    }
    &-title {
      color: $white;
      margin-bottom: $spacing-3;
    }
  }
  &__button {
    padding: 8px 30px;
    font-size: 16px;
    text-transform: uppercase;
  }
  &__selected-key-label {
    color: $white;
    margin-bottom: $spacing-3;
  }
  &__selected-key {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $spacing-3;

    .box-with-copy {
      width: 60%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 5px;
      padding: 12px 12px 12px 16px;
      border: 1px solid $turquoise;
      .selected-key {
        flex: 1;
        display: flex;
        align-items: center;
        span {
          margin-left: 0.5em;
        }

        &__fish-eye {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          position: relative;
          background-color: $turquoise;
          margin: 3px;

          &:after {
            content: "";
            border: 1px solid $turquoise;
            border-radius: 50%;
            width: 23px;
            height: 23px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      img {
        cursor: pointer;
      }
    }
    .open-key-list {
      width: 30%;
      margin: unset;
      margin-bottom: 0 !important;
    }
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    .decrypt-wrapper {
      &__textbox-container {
        button {
          width: 100%;
          margin: 20px 0 0;
        }
      }
    }
  }
}
