@import "../../../../styles/constants.scss";

.keypair-list {

    border: 1px solid $turquoise;
    padding: 0px 1em;

    li {
        margin: 0.5em 0;
        &:hover {
            background-color: black;
        }
        .keypair-name {
            min-width: 12em;
        }

        display: flex;
        flex-direction: row;
        min-width: 12em;
        list-style-type:none;
    }
}
