@import "styles/constants.scss";

.my-nfts-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $blue-2;
  padding: 25px;
  margin-top: 20px;
  .my-nfts__title {
    font-weight: bold;
  }
  .my-nfts__sub-title {
    margin: 5px 0;
  }
  .my-nfts__shared-nfts-container,
  .my-nfts__airdrop-nfts-container,
  .my-nfts__deposit-nfts-container {
    margin: 15px 0;
    .my-nfts__slide {
      position: relative;
      display: flex;
      justify-content: center;
      img {
        width: 100px;
        padding-top: 5px;
      }
      .my-nfts__not-redeemed {
        opacity: 0.5;
      }
      .my-nfts__not-redeemed-dot {
        position: absolute;
        top: 0;
        right: 5px;
        width: 20px;
        height: 20px;
      }
    }
  }
  .my-nfts__no-nfts-text {
    font-size: $xxsmall;
    text-align: center;
    color: $gray-2;
  }
  .my-nfts__action-btn {
    margin: 10px 0;
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .my-nfts-wrapper {
    .my-nfts__shared-nfts-container,
    .my-nfts__airdrop-nfts-container,
    .my-nfts__deposit-nfts-container {
      .my-nfts__slide {
        img {
          width: 80px;
        }
        .my-nfts__not-redeemed-label {
          font-size: $xxsmall;
        }
      }
    }
  }
}
