@import "styles/constants.scss";

.token-eligibility-wrapper {
  display: flex;
  flex-direction: column;

  section {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    .token-eligibility__section-title {
      font-weight: bold;
      margin-bottom: 15px;
      color: $yellow;
    }
  }
  .token-eligibility__button-container {
    display: flex;
    position: sticky;
    bottom: 0;
    background-color: $field-blue;
    margin: 0px -#{$modal-element-padding};
    padding: 0px $modal-element-padding;
    box-shadow: 0px -10px 30px rgb(0 0 0 / 80%);;
    padding-top: 40px;
    button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .token-eligibility-wrapper {
    .token-eligibility__button-container {
      margin: 0px -#{$modal-element-padding-mobile};
      padding: 20px $modal-element-padding-mobile;
    }
  }
}
