@import "../../styles/constants.scss";

.airdrop-machine-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .airdrop-machine-content {
    max-width: $element-max-width;
    margin: auto;
    width: 100%;
    color: $white;
    font-size: $moderate;
    .airdrop-machine__sail-boat {
      display: flex;
      margin: auto;
      margin-bottom: 50px;
    }
    .airdrop-machine__container-with-timeline {
      border-left: 5px solid;
      border-image-slice: 1;
      -webkit-animation: DyanamicGradient 5s ease infinite;
      -moz-animation: DyanamicGradient 5s ease infinite;
      animation: DyanamicGradient 5s ease infinite;
      @keyframes DyanamicGradient {
        0% {
          border-image-source: linear-gradient(0deg, #A8FDFE, #E0FFFF, #8AFCFD, #4A7BCE, #0E51C2);
        }
        25% {
          border-image-source: linear-gradient(90deg, #A8FDFE, #E0FFFF, #8AFCFD, #4A7BCE, #0E51C2);
        }
        50% {
          border-image-source: linear-gradient(180deg, #A8FDFE, #E0FFFF, #8AFCFD, #4A7BCE, #0E51C2);
        }
        75% {
          border-image-source: linear-gradient(270deg, #A8FDFE, #E0FFFF, #8AFCFD, #4A7BCE, #0E51C2);
        }
        100% {
          border-image-source: linear-gradient(360deg, #A8FDFE, #E0FFFF, #8AFCFD, #4A7BCE, #0E51C2);
        }
      }
    }
    .airdrop-machine__section {
      //border-left: 2px solid $vault-blue;
      display: flex;
      flex-direction: column;
      padding: 50px 0;
      .airdrop-machine__title-wrapper {
        position: relative;
        font-size: $large;
        padding-left: 50px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .airdrop-machine__section-content {
        padding-left: 50px;
        .airdrop-machine__eligibility-types {
          display: flex;
          flex-direction: column;
          .airdrop-machine__eligibility-type {
            display: flex;
            margin: 15px 0;
            img {
              margin-right: 10px;
              height: 25px;
            }
          }
        }
      }
      &.first-section {
        padding-top: 0;
      }
      &.last-section {
        border-left: unset;
        padding-top: 0;
      }
      .airdrop-machine__join-embassy-btn {
        margin-top: 50px;
        background-color: $strong-purple-2;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-weight: bold;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .airdrop-machine-wrapper {
    .airdrop-machine-content {
      .airdrop-machine__sail-boat {
        width: 200px;
      }
      .airdrop-machine__container-with-timeline {
        border-left: unset;
      }
      .airdrop-machine__section {
        border-left: unset;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        .airdrop-machine__title-wrapper {
          padding: unset;
          font-size: $small;
          text-align: center;
        }
        .airdrop-machine__section-content {
          padding: unset;
          font-size: $xsmall;
          .airdrop-machine__eligibility-types {
            .airdrop-machine__eligibility-type {
              flex-direction: column;
              justify-content: center;
              align-items: center;
              img {
                margin-right: unset;
                margin-bottom: 10px;
              }
            }
          }
        }
        &.first-section {
          padding-top: 50px;
        }
        &.last-section {
          padding-top: 50px;
        }
      }
    }
  }
}
