@import "../../styles/constants.scss";

.nft-airdrop-wrapper {
  display: flex;
  .nft-airdrop-search {
    margin-right: 80px;
    max-width: 500px;
    h2 {
      margin-top: 0;
    }
    .input-container {
      border: 1px solid $turquoise;
      margin: 40px 0px 5px 0px;
      display: flex;
      .address-input {
        border: none;
        background: none;
        color: $white;
        height: 50px;
        text-indent: 10px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .clear-input {
        background: none;
      }
    }

    .error-label {
      color: $red;
    }
    .info-label {
      margin-top: 30px;
    }
  }
  &.disabled {
    opacity: 0.5 !important;
    pointer-events: none;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .nft-airdrop-wrapper {
    flex-direction: column;
    .nft-airdrop-search {
      margin-right: unset;
      margin-bottom: 30px;
      padding: $modal-element-padding-mobile;
    }
  }
}
