@import "../../styles/constants.scss";

.redeem-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  .nft-image-container {
    margin-top: 20px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    border: 1px solid $turquoise;
    width: 100%;
    height: 300px;
    line-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &.revealed {
      background-image: url("./assets/crow.svg");
    }
  }
  .action-btn {
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
  .redeem-btn {
    background-color: $turquoise;
    color: $blue;
  }
  .reveal-btn {
    background-color: transparent;
    color: $turquoise;
    border: 1px solid $turquoise;
  }
}
