@import "../../styles/constants.scss";

.redeem-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  .nft-image-container {
    display: flex;
    margin-top: 20px;
    border: 1px solid $turquoise;
    width: 300px;
    height: 300px;
    .question-mark {
      margin: auto;
    }
    .nft-image {
      width: 300px;
      height: 300px;
      margin: auto;
    }
  }
  .redeem-wrapper__countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    .redeem-text {
      margin-bottom: 30px;
      align-self: baseline;
    }
    .redeem-passed-text {
      align-self: baseline;
      color: $red;
    }
  }
  .redeem-wrapper__already-redeemed-label {
    color: $red;
    margin: 15px 0;
  }
  .redeem-wrapper__redeem-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    a {
      color: $turquoise;
    }
  }
  .action-btn {
    width: 100%;
    margin: 20px 0px;
  }
  .redeem-btn {
    background-color: $turquoise;
    color: $blue;
  }
  .reveal-btn {
    background-color: transparent;
    color: $turquoise;
    border: 1px solid $turquoise;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .redeem-wrapper {
    width: 100%;
    padding: $modal-element-padding-mobile;
    box-sizing: border-box;
  }
}
