@import "../../../../../../styles/constants.scss";

.protocol-wrapper {
  color: $white;
  .actions-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    button {
      width: 150px;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .protocol-wrapper {
    .actions-wrapper {
      button {
        width: 50%;
      }
    }
  }
}
