@import "styles/constants.scss";

.redeem-ticket-success-wrapper {
  display: flex;
  flex-direction: column;
  color: $white;
  padding: $modal-element-padding;
  max-width: 600px;
  .redeem-ticket-success__features-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .redeem-ticket-success__feature {
      display: flex;
      align-items: center;
      margin: 5px 0;
      img {
        margin-right: 10px;
      }
    }
  }
  .redeem-ticket-success__join-embassy-btn {
    margin-top: 50px;
    background-color: $strong-purple-2;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: bold;
    width: 100%;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .redeem-ticket-success-wrapper {
    padding: $modal-element-padding-mobile;
  }
}
