/*  */
$header-hight: 50px;
$sidebar-width: 250px;
$element-padding: 10px;

/* colors */
$white: #FFFFFF;
$drak-blue: #000723;
$blue: #000C3B;
$field-blue: #0C1436;
$light-blue: #1F2748;
$turquoise: #8AFCFD;
$red: #A6465A;
$transparent-black: rgba(0,0,0,0.2); // for modal

/* font sizes */
$xl: 48px;
$large: 35px;
$medium: 24px;

/* others */
$mobile-breakpoint: 770px;
$black-shadow: 0 13px 32px rgb(0 0 0 / 30%); // for modal
