@import "./constants.scss";

.cookies-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 5;
  background-color: $strong-blue;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: $white;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  border-top: 2px solid $blue;
  .cookies-links-wrapper {
    margin-left: 15px;
    .policy-link {
      color: $turquoise;
      margin-right: 35px;
      text-decoration: underline;
    }
    .accept-button {
      background-color: $turquoise;
      color: $dark-blue;
      width: 120px;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .cookies-wrapper {
    .cookies-links-wrapper {
      display: flex;
      flex-direction: column;
      .policy-link {
        text-align: center;
        margin-right: unset;
        font-size: $xxsmall;
        margin-bottom: 10px;
      }
    }
  }
}
