@import "./constants.scss";
@import "rc-tooltip/assets/bootstrap_white.css";

.deposit-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  background-color: $blue;
  .pool-wrapper {
    display: flex;
    align-items: center;
    background-color: $blue;
    font-size: $moderate;
    font-weight: bold;
    padding: 30px;
    justify-content: space-between;
    .pool-title-wrapper {
      display: flex;
      align-items: center;
      .pool-name {
        margin-left: 20px;
      }
    }
  }
  > div {
    padding: 0px $modal-element-padding;
  }
  .tabs-wrapper {
    display: flex;
    padding: 0;
    .tab {
      width: 100%;
      color: $white;
      font-size: $moderate;
      margin: 0;
      &.deposit {
        background-color: $blue;
      }
      &.withdraw {
        background-color: $light-blue;
      }
    }
  }
  .balance-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .amount-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $black;
    border: 1px solid $field-blue;
    .top {
      display: flex;
      justify-content: space-between;
    }
    .input-wrapper {
      display: flex;
      justify-content: space-between;
      font-size: $moderate;
      color: $white;
      .pool-token {
        display: flex;
        align-items: center;
      }
      span {
        margin-left: 10px;
      }
      input {
        background-color: transparent;
        border: none;
        color: inherit;
        text-align: right;
        font-weight: bold;
        font-size: inherit;
        width: 100%;
      }
    }
    .input-error {
      align-self: flex-end;
      color: $red;
      font-size: $xsmall;
    }
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  .percentage-btn {
    background-color: $black;
    border: 1px solid $field-blue;
    color: $white;
    width: 70px;
    &:first-child {
      margin-left: 0px;
    }
  }
  .staked-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: $moderate;
    color: $white;
    margin: 25px 0;
  }
  .earnings-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $field-blue;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    color: $white;
    span:nth-child(1) {
      display: flex;
      align-items: center;
    }
  }
  .action-btn-wrapper {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    .action-btn {
      position: relative;
      background-color: transparent;
      width: 100%;
      margin: 0;
    }
  }
  .alt-actions-wrapper {
    display: flex;
    justify-content: center;
    background-color: $field-blue;
    padding-top: 20px;
    padding-bottom: 20px;
    .alt-action-btn {
      background-color: $purple-blue;
      color: $dark-turquoise;
      width: 100%;
    }
  }
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    animation: disabledFade .4s;
  }
  &.in-withdraw {
    background-color: $light-blue;
  }
}
