@import "./constants.scss";

.honeypots-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  table {
    width: 100%;
    border-collapse: collapse;
    max-width: $table-max-width;
    tr {
      text-align: center;
    }
    th {
      background-color: $blue;
      padding: 20px;
      color: $white;
      &:nth-child(2) {
        text-align: left;
      }
    }
    .safe-period {
      padding: 10px;
      .text-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.on {
        background-color: $strong-red;
        color: $dark-blue;
      }
    }
  }
}
