@import "./constants.scss";

.honeypots-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  .search-cell {
    .search-wrapper {
      display: flex;
      .search-input {
        background-color: transparent;
        border: none;
        color: $white;
        width: 100%;
        margin-left: 10px;
      }
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    max-width: $element-max-width;
    margin-bottom: 150px;
    tr {
      text-align: center;
    }
    th {
      background-color: $blue;
      padding: 20px;
      color: $white;
      &:nth-child(2) {
        text-align: left;
      }
    }
    .transparent-row {
      color: $white;
      td {
        background-color: transparent;
        text-align: left;
        padding-left: 0;
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .honeypots-wrapper {
    table {
      margin-bottom: 50px;
      .transparent-row {
        td {
          padding-left: 20px;
        }
      }
    }
  }
}
