@import "./constants.scss";

.nft-prize-wrapper {
  display: flex;
  padding: $modal-element-padding;
  .nft-info {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    .nft-name {
      margin-bottom: 50px;
    }
    .subtitle {
      font-style: italic;
      color: $dark-turquoise;
      margin-bottom: 5px;
    }
    .data {
      color: $dark-turquoise;
      font-size: $xsmall;
      margin-bottom: 50px;
    }
  }
}
