@import "./constants.scss";

.nft-prize-wrapper {
  display: flex;
  padding: $modal-element-padding;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $dark-turquoise;
  .nft-name {
    margin-bottom: 50px;
    color: $white;
    font-weight: bold;
    margin-right: auto;
  }
  .nft-info {
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: $white;
    .subtitle {
      font-style: italic;
      color: $dark-turquoise;
      margin-bottom: 5px;
    }
    .data {
      font-size: $xsmall;
      margin-bottom: 30px;
    }
  }
}
