@import "./constants.scss";

.safe-period {
  padding: 10px;
  .text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.on {
    background-color: $yellow;
    color: $dark-blue;
  }
}
