@import "./constants.scss";

.sidebar-wrapper {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  z-index: 2;
  overflow-x: hidden;
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  background-color: $dark-blue;
  border-right: 1px solid $blue;
  box-shadow: 0px 4px 38px -1px $sidebar-shadow;
  .logo {
    align-self: center;
    margin-bottom: 50px;
  }
  .pools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .arrow {
      cursor: pointer;
      transform: rotate(0deg);
      transition: transform 0.1s linear;
      margin: 15px;
      &.open {
        transform: rotate(90deg);
        transition: transform 0.1s linear;
      }
    }
    &.selected {
      background-color: $blue;
    }
  }
  .pools-links-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    .pool-link-wrapper {
      display: flex;
      cursor: pointer;
      color: $white;
      margin: 10px;
      &:hover {
        opacity: 0.9;
      }
      .selected {
        font-weight: bold;
      }
    }
  }
  .bottom-wrapper {
    margin: auto;
    margin-bottom: 100px;
  }
}
