@import "./constants.scss";

.sidebar-wrapper {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  z-index: 2;
  overflow-x: hidden;
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  background-color: $dark-blue;
  border-right: 1px solid $blue;
  box-shadow: 0px 4px 38px -1px $sidebar-shadow;
  .logo {
    align-self: center;
    margin-bottom: 50px;
  }
  .pools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .arrow {
      cursor: pointer;
      transform: rotate(0deg);
      transition: transform 0.1s linear;
      margin: 15px;
      &.open {
        transform: rotate(90deg);
        transition: transform 0.1s linear;
      }
    }
    &.selected {
      background-color: $blue;
    }
  }
  .pools-links-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    .pool-link-wrapper {
      display: flex;
      cursor: pointer;
      color: $white;
      margin: 10px;
      &:hover {
        opacity: 0.9;
      }
      .selected {
        font-weight: bold;
      }
    }
  }
  .sidebar-link {
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    border-left: 4px solid transparent;
    margin: 10px 0px;
    color: $dirty-turquoise;
    font-size: $xsmall;
    &.vulnerability {
      color: $bright-green;
      &.selected {
        border-color: $bright-green;
        font-weight: bold;
        color: $bright-green;
      }
    }
    &.selected {
      border-left-color: $turquoise;
      color: $turquoise;
      background-color: $blue;
      font-weight: bold;
    }
  }
  .bottom-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    .social-wrapper {
      margin-bottom: 10px;
      > a {
        margin: 0 8px;
      }
    }
  }
}