@import "./constants.scss";

td {
  padding: 20px;
  background-color: $field-blue;
  border-bottom: 1px solid $dark-blue;
  &.sub-row {
    background-color: transparent;
  }
}

.arrow {
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform .1s linear;
  &.open {
    transform: rotate(90deg);
    transition: transform .1s linear;
  }
  :hover {
    opacity: 0.8;
  }
}

.action-btn {
  border: 1px solid;
  color: $turquoise;
  background-color: transparent;
}
