@import "../../styles/constants.scss";

.my-account-wrapper {
  display: flex;
  flex-direction: column;
  color: $white;
  padding: $modal-element-padding;
  min-width: 500px;
  max-width: 500px;
  padding-top: 0px;
  margin: auto;
  max-height: 650px;
  .my-account__wallet {
    display: flex;
    flex-direction: column;
    .my-account__hello {
      font-weight: bold;
      font-size: $moderate;
    }
    .my-account__address {
      font-size: $medium;
    }
  }
  .my-account__top-wrapper {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .my-account-wrapper {
    padding: $modal-element-padding-mobile;
    min-width: unset;
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .my-account-wrapper {
    max-height: 500px;
  }
}
