@import "../../styles/constants.scss";

$committee-blue: #C0F2F2;

.committee-tools-wrapper {
  display: flex;
  flex-direction: row;


  input {
    background-color: $field-blue;
    color: $white;
    border: 1px solid $field-blue;
    padding: 15px;
  }
  
  button {
    background-color: $committee-blue;
    font-family: "Roboto Mono", monospace;
    text-transform: capitalize;
    margin: 0px;
  }
}

.modal-content {
  margin: 25px 50px;
  display: flex;
  flex-direction: column;
  color: $white;  

  .addenum {
    color: #9BC8CA;
  }

  input {
    background-color: $field-blue;
    color: $white;
    border: 1px solid $dirty-turquoise;
    padding: 15px;
    &::placeholder {
      color: #64C1C5;
    }
  }
  
  button {
    background-color: #C0F2F2;
    font-family: "Roboto Mono", monospace;
    text-transform: capitalize;
    margin: 0px;
  }

  .special-container {
    margin: 0 auto 0;
    flex-direction: row;
    display: flex;
    max-width: 600px;
    button {
      flex:1;
      border: 1px solid #8AFCFD;
      display: inline-block;
      background-color: transparent;
      color: #8AFCFD;
      &:not(:first-child) {
        margin-left: 10px;
      }
      
      img {
        margin-top: 1em;
        margin-bottom: .3em;
      }
      title {
        display: block;
        color: #8AFCFD;
        text-transform:uppercase;
      }  
    }    
    margin-bottom: 1em;
  }
}



