@import "../../styles/constants.scss";

$committee-blue: #c0f2f2;

.committee-tools-wrapper {
  display: flex;
  flex-direction: row;

  input {
    background-color: $field-blue;
    color: $white;
    border: 1px solid $field-blue;
    padding: 15px;
  }

  button {
    background-color: $committee-blue;
    font-family: "Roboto Mono", monospace;
    text-transform: capitalize;
    margin: 0px;
  }
}

.modal-content {
  margin: 25px 50px;
  display: flex;
  flex-direction: column;
  color: $white;

  .addenum {
    color: $dark-turquoise;
  }

  input {
    background-color: $field-blue;
    color: $white;
    border: 1px solid $dirty-turquoise;
    &::placeholder {
      color: $dirty-turquoise;
    }
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  button {
    background-color: $committee-blue;
    font-family: "Roboto Mono", monospace;
    text-transform: capitalize;
    margin: 0px;
  }

  .keypair-list {
    border: 1px solid $turquoise;
    padding: 0.3em;
    li {
      color: $turquoise;
      margin-bottom: 0.3em;
      display: flex;
      flex-direction: row;
      align-items: center;
      .fish-eye {
        width: 0.7em;
        height: 0.7em;
        border-radius: 50%;
        background-color: $dark-turquoise;
        margin: 3px;
        &.selected {
          background-color: $turquoise;
          // &:before {
          //   content: "";
          //   border: 1px solid #8AFCFD;
          //   width: 1em;
          //   height: 1em;
          //   border-radius: 50%;
          //   background-color: green;
          // }
        }
      }
      a {
        color: $turquoise;
      }
      .title {
        flex: 1;
        margin-left: 0.5em;
      }

      .actions {
        align-self: flex-end;
        :not(:first-child) {
          margin-left: 5px;
        }
      }
    }
  }

  .special-container {
    margin: 0 auto 0;
    flex-direction: row;
    display: flex;
    max-width: 600px;
    button {
      flex: 1;
      border: 1px solid $turquoise;
      display: inline-block;
      background-color: transparent;
      color: $turquoise;
      &:not(:first-child) {
        margin-left: 10px;
      }

      img {
        min-height: 5em;
        margin-top: 1em;
        margin-bottom: 0.3em;
      }
      title {
        display: block;
        color: $turquoise;
        text-transform: uppercase;
      }
      p {
        color: $dark-turquoise;
      }
    }
    margin-bottom: 1em;
  }
}

.key-details-container {
  .key-element {
    display: flex;
    flex-direction: row;
  }
  button {
    margin-top: 1em;
  }
}
