@import "../../styles/constants.scss";

$committee-blue: #C0F2F2;

.committee-tools-wrapper {
  display: flex;
  flex-direction: row;
}

.keys-navbar {
  min-width: 180px;
  display: flex;
  flex-direction: column;
}


.modal-content {
  * {
    margin-bottom: 20px;
  }

  margin: 25px 50px;
  display: flex;
  flex-direction: column;
  
  color: $white;

  input {
    background-color: $field-blue;
    color: $white;
    border: 1px solid $field-blue;
    padding: 15px;
  }

  button {
    background-color: $committee-blue;
    font-family: "Roboto Mono", monospace;
    text-transform: capitalize;
    margin: 0px;
  }
  
  
}

