@import "../../styles/constants.scss";

.committee-tools-wrapper {
    display: flex;
    flex-direction: row;

    p {
        font-family: RobotoMono;
        font-weight: bold;
        font-size: $small;
        color: $white
    }

    input {
        width: 406px;
        height: 18px;
        border-color: $turquoise;
        border-width: 1px;
        background-color: $dark-blue;
        padding: 12px 20px 11px 11px;
        color: $dirty-turquoise;
    }

    textarea {
        width: 100%;
        max-width: 920px;
        border-color: $turquoise;
        border-width: 1px;
        background-color: $dark-blue;
        padding: 12px 20px 11px 11px;
        color: $dirty-turquoise;
        resize: none;
        box-sizing: border-box;
    }

    ::placeholder {
        color: $dirty-turquoise;
    }

    :-ms-input-placeholder {
        color: $dirty-turquoise;
    }

    ::-ms-input-placeholder {
        color: $dirty-turquoise;
    }

    button {
        background-color: $turquoise;
        font-family: RobotoMono;
        font-weight: normal;
        font-size: $moderate;
        color: $dark-blue;
        text-transform: uppercase;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .new-key {
        .subtitle {
            margin-top: 27px;
        }
        
        .alias {
            margin-top: 36px;
        }
        
        .details {
            margin-top: 48px;
            display: flex;
        
            .details-name {
                input {
                    width: 155px;
                    padding: 12px 43px 11px 11px;
                }
            }
        
            .details-email {
                margin-left: 72px;
            }
        }
        
        .passphrase {
            margin-top: 57px;
        
            .description {
                font-weight: normal;
                font-size: $xsmall;
            }
        
            .hint {
                font-size: $xsmall;
                color: $dirty-turquoise;
            }
        }
        
        .submit {
            margin-top: 160px;
        
            button {
                width: 361px;
                height: 40px;
            }
        }
    }

    .decrypt-message {
        p {
            color: $turquoise;
            margin-top: 0px;
            margin-bottom: 12px;
        }

        button {
            margin-top: 57px;
            padding-left: 27px;
            padding-right: 26px;
        }

        .show-key-details {
            button {
                width: 403px;
                height: 56px;
                margin: 0px;
                background-color: transparent;
                font-weight: bold;
                font-size: $small;
                color: $white;
                text-align: start;
                text-transform: inherit;
                padding: 0px;
            }
        }

        .decrypted-message {
            margin-top: 33px;
        }
    }
}


.keys-navbar {
    min-width: 189px;
    display: flex;
    flex-direction: column;
    margin-right: 58px;

    p {
        font-family: RobotoMono;
        font-weight: bold;
        font-size: $xsmall;
        color: $turquoise
    }

    .keys-navbar-header {
        height: 53px;
        background-color: $blue;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 39px;

        p {
            padding-left: 21px;
            padding-right: 15px;
        }
    }

    .nav-link {
        height: 53px;
        display: flex;
        align-items: center;
        margin: 3px 0 0 0;
        padding-left: 33px;

        p {
            font-weight: normal;
            padding-left: 26px;
            padding-right: 15px;
        }
    }
}