@import "../../styles/constants.scss";

.lp-preview-wrapper {
  max-width: 1000px;
  width: 60%;
  padding: $modal-element-padding;
  border: 1px solid $turquoise;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  a {
    color: $turquoise;
    text-decoration: underline;
  }
  .close {
    font-size: $medium;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}
