@import "../../styles/constants.scss";

.positions-wrapper {
  display: flex;
  flex-direction: column;
  padding: $modal-element-padding;
  .sub-title {
    color: $white;
    font-weight: bold;
    margin: 20px 0px;
  }
  .positions-list {
    max-height: 200px;
    overflow-x: overlay;
    margin: 10px 0px;
    .position {
      .nft-label {
        background-color: $turquoise;
        color: $black;
        margin-right: 15px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -3px;
        font-weight: bold;
      }
      .withdrawable-label {
        margin-left: auto;
      }
      display: flex;
      align-items: center;
      height: 20px;
      line-height: 20px;
      background-color: $dark-blue;
      padding: 20px;
      margin: 5px 0px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
      &.selected {
        border: 1px solid $turquoise;
      }
    }
  }
  .position-actions-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  a {
    color: $turquoise;
    text-decoration: underline;
  }
  button {
    width: fit-content;
    background: transparent;
    color: $turquoise;
    border: 1px solid;
  }
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    animation: disabledFade 0.4s;
  }
}
