@import "styles/constants.scss";

.nft-airdrop-wrapper {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  section {
    margin: 30px 0;
  }
  .nft-airdrop__nfts-wrapper {
    margin: 25px 0;
    .swiper-slide {
      display: flex;
      justify-content: center;
    }
    img {
      width: 200px;
    }
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  .nft-airdrop__error {
    color: $red;
    margin-top: 5px;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .nft-airdrop-wrapper {
    .nft-airdrop__nfts-wrapper {
      img {
        width: 100px;
      }
    }
  }
}
