@import "../../styles/constants.scss";

.menu-wrapper {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: $dark-blue;
  top: $header-height;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid $turquoise;
  height: calc(100vh);
  overflow-x: scroll;
}
