@import "../../styles/constants.scss";

.nav-link {
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  border-left: 4px solid transparent;
  margin: 10px 0px;
  color: $dirty-turquoise;
  font-size: $xsmall;
  &.vulnerability {
    color: $bright-green;
    &.selected {
      border-color: $bright-green;
      font-weight: bold;
      color: $bright-green;
    }
  }
  &.selected {
    border-left-color: $turquoise;
    color: $turquoise;
    background-color: $blue;
    font-weight: bold;
  }
  &.hidden {
    display: none;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .nav-link {
    border-left: unset;
  }
}
