@import "styles/constants.scss";

.pending-transaction-wrapper {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: linear-gradient(90deg, $blue, $dark-turquoise, $blue);
  animation: gradient 10s ease infinite;
  background-size: 600px;
  color: $white;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    opacity: 0.9;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {

}
