@import "styles/constants.scss";

.embassy-notification-bar-wrapper {
  background-color: $blue;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-weight: bold;
  
  .embassy-notification-bar__title {
    margin-left: auto;
  }
  .embassy-notification-bar__learn-more-btn {
    font-weight: bold;
    margin-left: 25px;
  }
  .embassy-notification-bar__close-btn {
    margin-left: auto;
    border: none;
    color: $white;
    font-size: $medium-2;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .embassy-notification-bar-wrapper {
    padding: 10px;
    box-sizing: border-box;
    .embassy-notification-bar__learn-more-btn {
      white-space: nowrap;
      margin-left: unset;
    }
  }
}
