.pastable-content {
    height:13em;
    border: 1px solid #8AFCFD;
    margin-bottom: 1em;
    position: relative;
  
    [contenteditable][placeholder]{
        margin: .8em;

        &:empty:before {
            content: attr(placeholder);
            color: #8AFCFD;
            //font-style: italic;
            margin: 2px;
          }
    }

    img {
        position: absolute;
        right:0;
        bottom:0;
        margin-right: 3px;
        margin-bottom: 3px;
        cursor: pointer;
    }
  }
  