@import "styles/constants.scss";

.redeemed-wrapper {
  color: $white;
  padding: $modal-element-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0;
  .redeemed__redeemed-icon {
    width: 124px;
    align-self: center;
  }
  .redeemed__title {
    font-size: $medium-2;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }
  .redeemed__wallet-container {
    display: flex;
    flex-direction: column;
    color: $dirty-turquoise;
    margin: 40px 0;
    .redeemed__wallet-address {
      padding: 20px 0;
      color: $turquoise;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $medium-2;
    }
  }
  .redeemed__criterias-wrapper {
    display: flex;
    flex-direction: column;
    .redeemed__criterias-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .redeemed__criteria {
      display: flex;
      align-items: center;
      margin: 10px 0;
      img {
        margin-right: 15px;
      }
    }
  }
  .check-other-wallet-button {
    margin-top: 30px;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .redeemed-wrapper {
    padding: $modal-element-padding-mobile;
    text-align: center;
    .redeemed__title {
      font-size: $moderate;
    }
    .redeemed__criterias-wrapper {
      .redeemed__criterias-top {
        text-align: start;
      }
    }
  }
}
