@import "../constants.scss";

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  scroll-margin-top: $header-height * 2;
  border-bottom: 2px solid $dark-blue;
  &.gamification {
    td {
      background-color: $strong-purple !important;
    }
  }
  &.Grants {
    td {
      background-color: $turquoise-2 !important;
    }
  }

  td {
    padding: 15px;
    background-color: $strong-blue;
    &.sub-row {
      background-color: transparent;
      padding: 0px;
      width: 100%;
    }
  }
}

.arrow {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.1s linear;
  margin-left: 25px;

  &.open {
    transform: rotate(90deg);
    transition: transform 0.1s linear;
  }

  :hover {
    opacity: 0.8;
  }
}

.project-name-wrapper {
  display: flex;
  align-items: center;

  @media only screen and (max-width: $mobile-breakpoint) {
    margin-left: 30px;
  }

  img {
    width: 40px;
    margin-right: 15px;
    border-radius: 100px;
  }
  .name-source-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    .project-name {
      display: flex;
      align-items: center;
      font-weight: bold;
    }
    .source-name {
      margin-top: 10px;
      color: $dirty-turquoise;
    }
  }
}

.max-rewards-wrapper {
  display: flex;
  text-align: left;
  white-space: nowrap;
  img {
    width: 20px;
    margin-right: 10px;
    border-radius: 100px;
  }
}
.sub-label {
  font-size: $tiny;
  color: $gray;
}

.honeypot-balance-value {
  color: $white;
  font-weight: bold;
}

.v2-flag {
  position: absolute;
  text-transform: uppercase;
  background-color: $turquoise;
  color: $strong-blue;
  padding: 10px 6px;
  border-radius: 0 0 18px 0;
  font-size: $xsmall;
}

@media only screen and (max-width: $mobile-breakpoint) {
  .arrow {
    margin-left: unset;
  }
  .rewards-cell {
    width: 100%;
  }
  .max-rewards-wrapper {
    flex-direction: row;
    margin: 5px 0;
  }
}
