@import "../../styles/constants.scss";

.vault-editor {
    &__title {
        font-size: $large;
        line-height: 47px;
        margin-bottom: 30px;
        color: $white;
    }
    &__description {
        color: $white;
        font-size: $small;
        line-height: 21px;
        color: $white;
        margin-bottom: 80px;
    }
    &__last-saved-time {
        padding-bottom: 20px;
        margin-bottom: 42px;
        border-bottom: 1px solid $vault-editor-border;
    }
    &__section {
        &-title {
            color: $white;
            text-transform: uppercase;
            font-size: $small;
            margin: 0;
            padding: 0 0 16px;
        }
        &-content {
            border: 1px solid $vault-editor-border-2;
            padding: 40px;
            margin-bottom: 40px;
        }
        &-description {
            color: $white;
        }
        label {
            display: inline-block;
            color: $white;
            padding-bottom: 4px;
        }
    }
    &__button-container {
        text-align: right;
        padding-bottom: 40px;
        button {
            margin: 0;
            width: 280px;
            text-transform: uppercase;
        }
    }
    &__divider {
        border-bottom: 1px solid $vault-editor-border;
        margin-bottom: 40px;
    }
    &__next-preview {
        display: none;
    }
    
    .vault-details {
        display: flex;
        flex-wrap: wrap;
        .field {
            width: 50%;
            .pastable-content:last-child {
                margin-bottom: 0;
            }
        }
        .icon-inputs {
            display: flex;
            justify-content: flex-end;

            > div + div {
                margin-left: 30px;
            }
        }
    }

    .committee-members {
        &__member {
            display: flex;
            align-items: flex-start;
            label {
                height: 20px;
            }
            &-number {
                flex-shrink: 0;
                color: $white;
                width: 40px;
                height: 40px;
                margin-top: 24px;
                margin-right: 14px;
                margin-bottom: 24px;
                border: 1px solid $turquoise;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
            }
            &-content {
                flex: 1 0 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            &-inputs {
                width: 60%;
            }
        }
        button {
            margin: 0;
            margin-left: 54px;
            margin-bottom: 30px;
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    .contracts-covered {
        &__contract {
            display: flex;
            align-items: flex-start;
            label {
                height: 20px;
            }
            &-number {
                flex-shrink: 0;
                color: $white;
                width: 40px;
                height: 40px;
                margin-top: 24px;
                margin-right: 14px;
                margin-bottom: 24px;
                border: 1px solid $turquoise;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
            }
            &-content {
                width: 65%;
            }
            &-subcontent {
                display: flex;
                justify-content: space-between;
            }
            &-name {
                width: 60%;
            }
            &-severities {
                width: 35%;
            }
        }
        button {
            margin: 0;
            margin-left: 54px;
            margin-bottom: 30px;
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    .pgp-key {
        &__hint {
            margin: 0 -20px 30px;
            padding: 20px;
            border: 1px solid $red;
            color: $white;
        }
        button {
            margin: 0;
            margin-bottom: 40px;
        }
    }

    .signees {
        border: 1px solid $turquoise;
        padding: 20px;
        &__signee {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            &-number {
                flex-shrink: 0;
                color: $white;
                width: 40px;
                height: 40px;
                margin-right: 24px;
                border: 1px solid $turquoise;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
            }
            &-content {
                flex: 1 0;
                color: $white;
                word-break: break-all;
            }
        }
        > div + div {
            margin-bottom: 0;
        }
    }

    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }

    .pastable-content {
        margin-bottom: 24px;
        input {
            text-indent: 0px;
        }
    }

    @media only screen and (max-width: $mobile-breakpoint) {
        margin-left: 20px !important;
        margin-right: 20px !important;

        &__section {
            &-content {
                border: none;
                padding: 0;
                margin-bottom: 20px;
            }
        }

        &__button-container {
            padding-bottom: 0;
            button {
                width: 100%;
            }
        }

        .vault-details {
            .field {
                width: 100%;
                margin-bottom: 20px;
            }
            .icon-inputs {
                display: block;

                > div + div {
                    margin-left: 0;
                    margin-top: 24px;
                }

                .icon-input {
                    > label {
                        width: 100% !important;
                    }
                    img {
                        object-fit: contain;
                    }
                }
            }
        }

        .committee-members {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            &__member {
                display: block;
                width: 100%;
                &-inputs {
                    width: 100%;
                }
                &-icons {
                    width: 100%;
                    margin-bottom: 30px;

                    .icon-input {
                        > label {
                            width: 100% !important;
                        }
                        img {
                            object-fit: contain;
                        }
                    }
                }
            }
            button {
                margin-left: 0;
            }
        }

        .contracts-covered {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            &__contract {
                display: block;
                width: 100%;
                &-content {
                    width: 100%;
                }
                &-subcontent {
                    display: block;
                }
                &-name {
                    width: 100%;
                }
                &-severities {
                    width: 100%;
                }
            }
            button {
                margin-left: 0;
            }
        }

        .pgp-key {
            &__hint {
                margin: 0 0 30px;
                padding: 20px;
                border: 1px solid $red;
                color: $white;

                &-question {
                    cursor: pointer;
                    margin-top: 20px;
                    img {
                        margin-left: 10px;
                    }
                }
                &-tooltip {
                    margin-top: 8px;
                    display: none;

                    &--show {
                        display: block;
                    }
                }
                &-desk-tooltip {
                    display: none;
                }
            }
            button {
                width: 100%;
            }
        }
        
        &__next-preview {
            display: block;
            button {
                display: block;
                width: 100%;
                margin: 0;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }

        .mobile-only {
            display: block;
        }
        .desktop-only {
            display: none;
        }
    }
}