@import "styles/constants.scss";

.contracts-covered-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 500px;
  
  @media only screen and (max-width: $small-mobile-breakpoint) {
    min-width: unset;
    width: 100%;
  }

  .contract-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    
    @media only screen and (max-width: $small-mobile-breakpoint) {
      padding: 0;
    }
    
    .contract-name {
      color: $dark-turquoise;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 10px;
    }
    .contract-value {
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
