@import '../../../styles/constants.scss';

.severity-wrapper {
  display: flex;
  flex-direction: column;

  .severity-top-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    cursor: pointer;
    align-items: center;

    .severity-title {
      color: $white;
      font-weight: bold;
      font-size: $xsmall;
    }

    .arrow {
      transform: rotate(0deg);
      transition: transform 0.1s linear;
      margin-left: 20px;

      &.open {
        transform: rotate(90deg);
        transition: transform 0.1s linear;
      }
    }

    &:hover {
      opacity: 0.9;
    }
  }

  .severity-data {
    display: flex;
    justify-content: space-between;
    border-right: 1px solid $purple-blue;
    border-left: 1px solid $purple-blue;
    border-bottom: 1px solid $purple-blue;

    .severity-data-item {
      display: flex;
      flex-direction: column;
      flex: auto;
      border-right: 1px solid $purple-blue;
      padding: 20px 40px 35px;
      flex: 1 1 0px;

      .vault-expanded-subtitle {
        padding-bottom: 30px;
      }

      .view-more {
        font-style: italic;
        cursor: pointer;
        text-decoration: underline;
        margin-top: auto;
        width: 100%;

        &:hover {
          opacity: 0.9;
        }
      }

      .nft-image-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: auto;
        cursor: pointer;
        width: 100%;
        align-items: center;

        .nft-image {
          max-height: 350px;
        }
      }

      .nft-media-wrapper {
        padding: 40px;
        span,
        img,
        video {
          max-height: 260px;
          margin: 0;
        }
      }
    }

    .severity-data-item:last-child {
      border-right: unset;
      margin-right: unset;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .severity-wrapper {
    .severity-data {
      flex-direction: column;
      border-left: unset;
      border-right: unset;
      padding: 0px 20px;

      .severity-data-item {
        margin-right: unset;
        border-right: unset;
        padding-right: unset;
        padding: 20px;

        .vault-expanded-subtitle {
          margin-top: 0px;
          padding-bottom: 25px;
        }

        .nft-media-wrapper {
          padding: 0 0 30px;
          
          span,
          img,
          video {
            max-height: unset;
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}
