@import "styles/constants.scss";

.unlock-vault-modal-wrapper {
  padding: $modal-element-padding;
  display: flex;
  flex-direction: column;
  .unlock-vault {
    &__label {
      margin-bottom: 16px !important;
    }
    &__input {
      margin-bottom: 10px;
    }
  }
  input {
    height: 50px;
  }
  button {
    margin-top: 50px;
  }
  .error-label {
    color: $red;
    margin: 5px 0px;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .unlock-vault-modal-wrapper {
    padding: $modal-element-padding-mobile;
    height: 100%;
    box-sizing: border-box;
    button {
      margin-top: auto;
    }
  }
}
