@import "styles/constants.scss";

.nft-card-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid $blue-4;
  border-radius: 15px;
  position: relative;

  .nft-card__info-container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-top: 1px solid $blue-3;
    .nft-card__info-title {
      font-size: $small;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .nft-card__info-element {
      display: flex;
      flex-direction: column;
      margin: 5px 0;
      .nft-card__info-element-title {
        color: $committee-blue;
        font-size: $xxsmall;
        font-style: italic;
      }
      .nft-card__info-element-value {
        text-transform: capitalize;
      }
    }
  }

  video {
    max-height: 350px;
    padding: 20px;
  }
  cursor: pointer;
  :hover {
    opacity: 0.9;
  }
  &.not-redeemed {
    border: 2px dashed $blue-4;
  }
  .nft-card__status {
    position: absolute;
    width: 100px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $xsmall;
    &.eligible {
      color: $white;
      background-color: $red-2;
    }
    &.redeemed {
      color: $field-blue;
      background-color: $turquoise;
    }
  }
}

.nft-card-full-screen-wrapper {
  width: 100%;
  height: 100%;
  background-color: $black;
  z-index: $nft-card-z-index;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  .nft-card-full-screen__close-btn {
    border: none;
    color: $white;
    margin-left: auto;
    font-size: $medium-2;
  }
  .nft-card-full-screen__container {
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    .nft-card-full-screen__video {
      width: 40%;
      object-fit: fill;
    }
  }
}
@media only screen and (max-width: $small-screen-breakpoint) {
  .nft-card-full-screen-wrapper {
    .nft-card-full-screen__container {
      .nft-card-full-screen__video {
        width: 40%;
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .nft-card-wrapper {
    .nft-card__info-container {
      padding: 10px;
      .nft-card__info-title {
        font-size: $xsmall;
      }
    }
    .nft-card__status {
      height: 30px;
      line-height: 30px;
      font-size: $xxsmall;
    }
  }
  .nft-card-full-screen-wrapper {
    .nft-card-full-screen__container {
      .nft-card-full-screen__video {
        width: 40%;
      }
    }
  }
}
