@import "styles/constants.scss";

.embassy-eligibility-wrapper {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  color: $white;
  margin-top: 20px;
  .embassy-eligibility__title {
    background-color: $blue-3;
    padding: 15px;
    width: 250px;
    white-space: pre;
  }
  .embassy-eligibility__content {
    border: 1px solid $blue-3;
    padding: 15px;
    white-space: normal;
    .embassy-eligibility__content__min-to-embassy {
      color: $turquoise;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .embassy-eligibility-wrapper {
    .embassy-eligibility__title {
      width: unset;
    }
  }
}
