@import "styles/constants.scss";

.pastable-content {
  position: relative;
  overflow: hidden;

  &__textarea {
    margin: 0;
    width: 100%;
    height: $spacing-25;
    padding: $spacing-2;
    background-color: transparent;
    box-sizing: border-box;
    color: $turquoise;
    resize: none;
    border: 1px solid $turquoise;

    &::placeholder {
      color: $dirty-turquoise;
      font-family: RobotoMono;
    }

    &--changed {
      border-color: $yellow;
    }
  }

  &__input {
    margin: 0;
    width: 100%;
    height: 40px;
    padding: 12px 16px;
    background-color: transparent;
    box-sizing: border-box;
    color: $turquoise;
    resize: none;
    border: 1px solid $turquoise;

    &::placeholder {
      color: $dirty-turquoise;
      font-family: RobotoMono;
    }

    &--changed {
      border-color: $yellow;
    }
  }

  &__extra-icons {
    position: absolute;
    right: 0;
    bottom: 0;

    img {
      cursor: pointer;
      margin-right: 18px;
      margin-bottom: 18px;
    }

    &--input {
      img {
        margin-right: 4px;
        margin-bottom: 4px;
      }
    }
  }
}
