.pastable-content {
    height:13em;
    width: 30em;
    border: 1px solid #8AFCFD;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .content-wrapper {
        flex:1;
        overflow: auto;
        div[contenteditable] {
            margin: .8em;
            color: #8AFCFD;
            &[placeholder]:empty:before {
                content: attr(placeholder);
                margin: 2px;
            }
        }
    }       
    .extra-icons {
        align-self: flex-end;
        img {
            margin-right: 3px;
            margin-bottom: 3px;
            cursor: pointer;
        }    
    }
  }
  