@import "../constants.scss";

.contact-info-wrapper {
  .add-contact-data {
    display: flex;
    justify-content: flex-end;
    button {
      margin: 0;
      width: 150px;
    }
  }
  input {
    background-color: $purple-blue;
    border: none;
    width: 500px;
    padding: 0px 20px;
    color: $white;
    height: 50px;
  }
  .error {
    color: $red;
    margin: 5px 0;
  }
}
