@import "../constants.scss";
@import "react-mde/lib/styles/css/react-mde-all.css";

.description-wrapper {
  display: flex;
  flex-direction: column;
  input {
    background-color: $field-blue;
    color: $white;
    border: 1px solid $field-blue;
    margin-bottom: 10px;
    padding: 15px;
  }

  .react-mde {
    margin-bottom: 20px;
    border: 1px solid $field-blue;
  }

  .mde-textarea-wrapper textarea.mde-text {
    border: 1px solid $field-blue;
  }

  .mde-header {
    background-color: $field-blue;
    border-bottom-color: $purple-blue;
    ul.mde-header-group li.mde-header-item button {
      color: $white;
    }
  }
  .mde-text {
    background-color: $field-blue;
    color: $white;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .description-wrapper {

  }
}
