@import "../constants.scss";

.submit-wrapper {
  position: relative;
  table {
    border-collapse: collapse;
    margin-left: 50px;
    margin-bottom: 15px;
    tr {
      th {
        text-align: left;
        padding: 20px;
        color: $dark-turquoise;
      }
      td {
        height: 70px;
        > span {
          color: $dark-turquoise;
          font-weight: bold;
        }
      }
      &.low {
        > td {
          background-color: $severity-low;
        }
      }
      &.medium {
        > td {
          background-color: $severity-medium;
        }
      }
      &.high {
        > td {
          background-color: $severity-high;
        }
      }
      &.critical {
        > td {
          background-color: $severity-critical;
        }
      }
      &.audit-request {
        > td {
          background-color: $severity-audit-request;
          color: $white;
        }
      }
    }
  }
  .submit-action-wrapper {
    display: flex;
    align-items: center;
    input {
      width: 20px;
      height: 20px;
    }
    label {
      margin-left: 10px;
    }
  }
  .nft-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &.loading {
    opacity: 0.5;
    pointer-events: none;
    animation: disabledFade 0.4s;
  }
  .submit-complete-actions-wrapper {
    display: flex;
    > button {
      justify-content: center;
      width: 350px;
      margin-left: unset;
      display: flex;
      align-items: center;
      margin-right: 10px;
      > span {
        margin-right: 10px;
      }
    }
    .discord-btn {
      background-color: $turquoise;
      color: $dark-blue;
      margin-left: 150px;
    }
  }
}
