@import "../../../styles/constants.scss";

.Root {
  width: 100%;
  position: relative;
  .Button {
    padding: 12px 16px !important;
    height: 40px;
    align-items: center;
    align-self: center;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px 1px;
    max-width: 100%;
    flex-wrap: nowrap;
    text-align: left;
    transition: background 0.1s ease-out 0s,
      box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    width: 100%;
    margin-left: 0px !important;
    margin-bottom: 24px !important;

    &.Changed {
      border: 1px solid $yellow;
    }

    .ButtonText {
      text-align: left;
      margin: 0px;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-basis: 100%;
      font-style: normal;
      font-weight: 400;
      font-size: $xsmall;
      line-height: 1.36;
    }

    .ButtonIcon {
      width: 24px;
      height: 24px;
      display: flex;
      flex: 1 1 auto;
      * {
        margin: auto;
      }
      .Rotate {
        transform: rotateX(180deg);
      }
    }
  }
  .MenuContainer {
    position: absolute;
    z-index: 2;
    background-color: $dark-blue;
    left: 0px;
    right: 0px;
    top: 48px;

    .MenuItem {
      display: flex;
      justify-items: flex-start;
      align-items: center;
      gap: 5px;
      padding: 8px 12px;
      user-select: none;
      box-sizing: border-box;
      min-width: unset;
      border: 1px solid $turquoise;
      background-color: rgb(0, 7, 35) !important;
      color: $turquoise !important;
      text-align: left;
      font-style: bold;
      font-weight: 700;
      font-size: $xsmall;
      line-height: 1.36;
    }
  }
}
