@import "styles/constants.scss";

.multi-sig-address-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .multi-sig-address {
    font-style: italic;
    font-weight: bold;
    margin-right: 10px;
  }
}
