@import "styles/constants.scss";

.airdrop-redeem-success-wrapper {
  display: flex;
  flex-direction: column;
  color: $white;
  padding: $modal-element-padding;
  max-width: 600px;
  margin: auto;
  .airdrop-redeem-success__icon {
    width: 50px;
    align-self: center;
  }
  .airdrop-redeem-success__title {
    font-weight: bold;
    font-size: $medium;
    text-align: center;
    margin: 20px 0;
  }
  .airdrop-redeem-success__sub-title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 5px;
  }
  .airdrop-redeem-success__features-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .airdrop-redeem-success__feature {
      display: flex;
      align-items: center;
      margin: 15px 0;
      img {
        align-self: baseline;
        margin-right: 10px;
      }
    }
  }
  .airdrop-redeem-success__nfts-wrapper {
    margin: 25px 0;
    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        justify-content: center;
        margin: 0 15px;
        video {
          width: 200px;
        }
      }
    }
  }
  .airdrop-redeem-success__join-embassy-btn {
    margin-top: 50px;
    background-color: $strong-purple-2;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: bold;
    width: 100%;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .airdrop-redeem-success-wrapper {
    padding: $modal-element-padding-mobile;
    .airdrop-redeem-success__nfts-wrapper {
      .swiper-wrapper {
        .swiper-slide {
          video {
            width: 100px;
          }
        }
      }
    }
  }
}
