@import "../../styles/constants.scss";

.nft-airdrop-notification-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  .question-mark {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    border: 1px solid $turquoise;
    width: 300px;
    height: 300px;
    line-height: 300px;
    margin: 30px 0px;
  }
  .more-details {
    background-color: $turquoise;
    color: $blue;
    width: 300px;
    padding: 10px 0px;
    text-align: center;
  }
}
