@import "../../styles/constants.scss";

.mobile-notification-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  span {
    margin: 50px 0;
  }
  button {
    color: $turquoise;
    border: 1px solid $turquoise;
    background: transparent;
    width: 80%;
  }
}
